# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# data from local dev testing
/server/data/*
/server/etc/logs/*
/server/etc/feedback.db
/server/etc/login.db
/server/login.db
/server/data/junk
/server/.pytest_cache

# data from running the app from a container
/mount/data/*
/mount/settings/*
/mount/logs/*

# secrets
/server/.env

# dependencies
/web_ui/node_modules
/.pnp
.pnp.js

# testing
/coverage
/server_api/.pytest_cache

# production
/build
/web_ui/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/data/sidekick.db
server/aws/credentials
server/etc/logs/sidekick_server.log
