[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==4.0.1"
flask = "==2.3.3"
flask-cors = "==4.0.0"
flask-jwt-extended = "==4.5.3"
flask-migrate = "==4.0.5"
flask-oidc = "==2.1.0"
flask-sqlalchemy = "==3.1.1"
openai = "==0.28.1"
requests = "==2.31.0"
sseclient-py = "==1.8.0"
pyyaml = "==6.0.1"
gunicorn = "==21.2.0"
psycopg2-binary = "*"
pytest = "7.4.2"

[dev-packages]

[requires]
python_version = "3.11"
