bcrypt==4.0.1
Flask==2.3.3
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.3
Flask-Migrate==4.0.5
flask-oidc==2.1.0
Flask-SQLAlchemy==3.1.1
openai==0.28.1
requests==2.31.0
sseclient-py==1.8.0
PyYAML==6.0.1
gunicorn==21.2.0
psycopg2-binary